.app{
  
  display: grid;
  grid-template-columns: 15% 85%;
  
  height: 100vh;

}

.sidebar{
  background-color: #F8F9FA;
 
}

.brand-heading{
  height: 10%;
  background-color: #111827;
  border-right: solid 1px black;
}

.navbar{
  height: 10%;
  background-color: #111827; 

}

.sidebar-content{
  height : 90%;
  border-right: 1px solid rgb(237, 230, 230);
  padding-top: 7%;

 
}

.sidebar-icon{
  display: inline;
}

.tabs{
  max-width: 100%;
  padding-left: 5%;
  
}
.tab-button{
  margin-top: 5%;
  width: 95%;
  padding : 5%;
  border-radius: 5px;
  cursor: pointer;
}

.tab-button:hover{

  background-color: #dfe2e2;
}

.tab-button.active{
  background-color: #2d7bf8;
  color: white;
  transition:  0.5s;
}

.avatar{
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 10px;
  height: 80%;
}
.avatar:hover{
  
  border-radius: 5px;
  background-color: #171f2f ;
}